body {
  background-color: lightgray;
  margin: 0;
}
.container-fluid{
  padding:0;
}
.App {
  text-align: center;
  background-color: gray;
}
.margin {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-bottom{
  margin-bottom:20px;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.pictureBox{
  height: 800px;
}
.flex{
  display:flex;

}
.img-width{
  width:300px;
  height:300px;
}
.font{
  font-size: 30px;
  font-weight: bold;
  margin:10px;
}
.bio{
  width:60%;
  margin:0 auto;
  font-size: 16px;
  padding-bottom:20px;
}